# Project specific

.DS_Store

/*/.DS_Store
/backend/*.db
/mobile/assets/*.db

/backend/src/scraper/result/
/backend/data/
/backend/src/browser-service/chrome-profile/

/backend/debug/
/backend/target/

/backend/**/*.rs.bk

/backend/*.pdb

/backend/**/mutants.out*/

# General

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
